# Configuração do banco de dados
SPRING_DATASOURCE_URL=jdbc:
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Configuração do Hibernate
SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_JPA_DATABASE_PLATFORM=

# Configuração do JWT
JWT_SECRET=

# Porta do servidor
SERVER_PORT=8080
SERVER_ADDRESS=0.0.0.0
